//These codes are specific to Kitchen sink template for specific Modifications
// GENERIC CSS STARTS
.bs-docs-section {
  overflow: hidden;
}

//NAV BAR CSS STARTS
.kitchen-sink-navbar 
{ 
float:right;
}

.kitchen-sink-navbar a
{ 
line-height:50px;
margin-right:15px;
color: #fff;
}

.navbar .col-sm-3
{
width:20%;
font-size:12px;
}

.bs-docs-sidebar.affix
{
  position:fixed !important; 
}

.bs-docs-sidenav
{
margin-top:0 !important;
}
//NAV BAR CSS ENDS

// CSS FOR FONTAWESOME STARTS  

.fontawesome-icon-list .fa-hover a {
display: block;
color: #555;
line-height: 32px;
height: 32px;
padding-left: 10px;
border-radius: 4px;
}

.fontawesome-icon-list .fa-hover a:hover {
// background-color: #1D9D74; 
background-color: #563D7C;
color: #FFF;
text-decoration: none;
}

// CSS FOR FONTAWESOME ENDS  


// JQUERY RELATED CSS COMPONENTS STARTS 

// CSS FOR LARGE DROPDOWN STARTS 
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
// CSS FOR LARGE DROPDOWN ENDS 

// JQUERY RELATED CSS COMPONENTS ENDS 

//COLOR CSS STARTS

.color-info-container {
   overflow: hidden;
}

.color-display {
  width:100px;
  height:100px;
  border-radius: 500px;
  //border: 4px solid #ccc; 
  border: none;
  -moz-box-shadow:    inset 0 0 10px #444;
   -webkit-box-shadow: inset 0 0 10px #444;
   box-shadow:         inset 0 0 10px #444;  

   display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); 
}

.color-display:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.color-display:hover, .color-display:focus, .color-display:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.color-display:hover:before, .color-display:focus:before, .color-display:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.color-details {
  color:  #333;
  text-align: center;
  line-height: $line-height-large;
  font-style: italic;
  font-family: $font-family-serif;
  vertical-align: middle;
  margin-top: 16px;
}

.primary-color {
      background: $brand-primary;
}

.secondary-color {
  background: $brand-secondary;
}

.tertiary-color {
  background: $brand-tertiary;
}

.quartenary-color {
  background: $brand-quaternary;
}

.pentane-color {
  background: $brand-pentane;
}
//COLOR CSS ENDS
