// a flag to toggle asset pipeline / compass integration
// defaults to true if twbs-font-path function is present (no function => twbs-font-path('') parsed as string == right side)
// in Sass 3.3 this can be improved with: function-exists(twbs-font-path)
$bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")')) !default;
//
// Variables Citruz
// --------------------------------------------------




//COLORS:
//***************************************************

//## Gray and brand colors for use across Bootstrap.

// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee


// Brand colors 
// -------------------------
//NOTE:
//1. As we dont haave any specific color scheme in framework - using the color scheme picked from Kuler.adobe.com (https://kuler.adobe.com/Bagway-sunrise-gradient-color-theme-3801090/edit/?copy=true&base=4&rule=Custom&selected=4&name=Copy%20of%20Bagway%20sunrise%20gradient&mode=rgb&rgbvalues=0.3607843137254902,0.1568627450980392,0.28627450980392155,0.6549019607843137,0.24313725490196078,0.3607843137254902,0.9254901960784314,0.2823529411764706,0.38823529411764707,1,0.45098039215686275,0.24705882352941178,1,0.8235294117647058,0.5215686274509804&swatchOrder=0,1,2,3,4) with base primary brand color as #5C2849
//2. All the other colors are generated using mixins
//3. you can further modify the color values to vary the color shades to more darker or lighter, by changing the spin,% and other values inside the mixins.
//4. you can also USE http://colormonster.io/ to find other Variations of any color...
//5. If you dont have any specific set of colors you can also generate normal and subtle color schems using belwo mixins.

//NORMAL COLOR SCHEME USING MANUAL
$brand-primary:         #5C2849 !default; //### 	//Base color of the site
$brand-secondary:       #A73E5C !default; //### 	//complementary color 1 generated w.r.t above base color
$brand-tertiary:        #EC4863 !default; //### 	//Light color 1 generated w.r.t above base color
$brand-quaternary:      #FF733F !default; //### //complementary color 2 generated w.r.t above base color
$brand-pentane:         #FFD285 !default; //### 	//Light color 2 generated w.r.t above base color
$brand-body-bg: 		#ffffff !default; //$$ 	//Background color for <body> - mostly white
$brand-text-color: 		$gray-dark !default;//$$ //Global text color on <body> - mostly #333 to #555


//NORMAL COLOR SCHEME USING MIXINS
//NOTE:
//1. As we dont have any specific color scheme in framework - using the color scheme with base primary brand color as #5C2849
//2. All the other colors are generated using mixins
//3. If case if you have any specific color scheme for for secondary,tertiary,quaternary and Pentane colors you can spicify it directly instead of these mixins like: $brand-secondary: #993222 !default; so that you have the exact color instead of these automated color using mixins.
//4. you can further modify the color values to vary the color shades to more darker or lighter, by changing the spin,% and other values inside the mixins.
//4. you can also USE http://colormonster.io/ to find other colors...

//$brand-primary:         #5C2849 !default; //### 	//Base color of the site
//$brand-secondary:       spin($brand-primary, 180) !default; //### 	//complementary color 1 generated w.r.t above base color
//$brand-tertiary:        lighten($brand-primary, 15%) !default; //### 	//Light color 1 generated w.r.t above base color
//$brand-quaternary:      arken(spin($brand-primary, 180), 25%) !default; //### //complementary color 2 generated w.r.t above base color
//$brand-pentane:         ighten($brand-primary, 30%) !default; //### 	//Light color 2 generated w.r.t above base color
//$brand-body-bg: 		#ffffff !default; //$$ 	//Background color for <body> - mostly white
//$brand-text-color: 		$gray-dark !default;//$$ //Global text color on <body> - mostly #333 to #555

//SUBTLE COLOR SCHEME USING MIXINS
//NOTE:
//1.This subtle color scheme will be very useful in case of  minimal web design.
//2.Which is so popular that you might find it more useful to have a color scheme generator that comes up with much more subtle variations of your base.
//2. By default I have commented this to use above Normal color scheme, so in order to activate this color scheme, uncomment the below lines of code
//$brand-primary:         #0D6DA3 !default; //### 	//Base color of the site
//$brand-secondary:       lighten(spin($brand-primary, 5), 10%) !default; //### 	//Lighter color 1 generated w.r.t above base color
//$brand-tertiary:        lighten(spin($brand-primary, 10), 20%) !default; //### //Lighter color 2 generated w.r.t above base color
//$brand-quaternary:      darken(spin($brand-primary, -5), 10%) !default; //### 	//Darker color 1 generated w.r.t above base color
//$brand-pentane:         darken(spin($brand-primary, -10), 20%) !default; //### 	//Darker color 2 generated w.r.t above base color
//$brand-body-bg: 		  #ffffff; //$$ 	//Background color for <body> - mostly white
//$brand-text-color: 		$gray-dark;//$$ //Global text color on <body> - mostly #333 to #555

//Info Colors: that will be sending information to the user
$brand-success:         #5cb85c !default; //parrot green
$brand-info:            #5bc0de !default; //Temple Orange
$brand-warning:         #f0ad4e !default; //Temple Red
$brand-danger:          #d9534f !default; //Water Blue


//== Scaffolding
// -------------------------
//(Meaning:a temporary structure on the outside of a building, made of wooden planks and metal poles, used by workmen while building, repairing, or cleaning the building.)
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default; //$$
//** Global text color on `<body>`.
$text-color:            $gray-dark !default; //$$


// Links
// -------------------------

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;


//TYPOGRAPHY:
//***************************************************
//## Font, line-height, and color for body text, headings, and more.

// Font Family
// -------------------------

//$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif; //$$// Default sans-serif fonts.
$font-family-sans-serif:  "roboto_condensedlight","Helvetica Neue", Helvetica, "Arial narrow",Arial, sans-serif; //$$// Custom Default sans-serif fonts with roboto from Android as the main font.
$font-family-serif:       Georgia, "Times New Roman", Times, serif; //$$// Default serif fonts.
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;//$$// Default code fonts.
$font-family-base:        $font-family-sans-serif; //$$// Default fonts used in the current site.

//** Other derived fonts based on roboto Android
$font-family-sans-serif-light:  "robotolight","Arial narrow","Segoe UI Light","Helvetica Neue", Helvetica, Arial, sans-serif;//$$// Default code fonts.
$font-family-base:        $font-family-sans-serif; //$$// Default fonts used in the current site.

// Font Size
// -------------------------
$font-size-base:          14px; //$$//
$font-size-large:         ceil($font-size-base * 1.25); // ~18px //$$//
$font-size-small:         ceil($font-size-base * 0.85); // ~12px //$$//

// Headings
// -------------------------
$font-size-h1:            floor($font-size-base * 2.6); // ~36px //$$//
$font-size-h2:            floor($font-size-base * 2.15); // ~30px //$$//
$font-size-h3:            ceil($font-size-base * 1.7); // ~24px //$$//
$font-size-h4:            ceil($font-size-base * 1.25); // ~18px //$$//
$font-size-h5:            $font-size-base; //$$//
$font-size-h6:            ceil($font-size-base * 0.85); // ~12px //$$//

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14 //$$//- the line-height-base is nothing but the normal line-height what you use in css. the 14 is font-size-base not sure what 20 is!!!
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px //$$

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-base !default; //nothing but $font-family-sans-serif;
$headings-font-weight:    500 !default; //$$//
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default; //###//


//ICONOGRAPHY:
//***************************************************
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

// Glyphicons
// -------------------------
//** Load fonts from this directory.
$icon-font-path: "../fonts/" !default;
$icon-font-name:          "glyphicons-halflings-regular" !default;
$icon-font-svg-id:        "glyphicons_halflingsregular" !default;

//COMPONENTS:
//***************************************************
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

// Paddings
// -------------------------
$padding-base-vertical:     6px !default; //$$//
$padding-base-horizontal:   12px !default; //$$//

$padding-large-vertical:    10px !default; //$$//
$padding-large-horizontal:  16px !default; //$$//

$padding-small-vertical:    5px !default; //$$//
$padding-small-horizontal:  10px !default; //$$//

$padding-xs-vertical:       1px !default; //$$//
$padding-xs-horizontal:     5px !default; //$$//

// Line-height
// -------------------------
$line-height-large:         1.33 !default; //$$//
$line-height-small:         1.5 !default; //$$//

// Border-radius
// -------------------------
$border-radius-base:        4px !default; //$$//
$border-radius-large:       6px !default; //$$//
$border-radius-small:       3px !default; //$$//

// Components active color
// -------------------------
//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default; //###//
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default; //###//

// Caret Width
// -------------------------
//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;


//TABLES:
//***************************************************
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default; //$$//
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default; //$$//

//** Default background color used for all tables.
$table-bg:                      transparent !default; //$$//
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;   //###//
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;   //###//
$table-bg-active:               $table-bg-hover !default;   

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;   //###//


//BUTTONS:
//***************************************************
//## For each of Bootstrap's buttons, define text, background and border color.

// Button Fonts
// -------------------------
$btn-font-weight:                normal; //###//

// Button Default properties
// -------------------------
$btn-default-color:              #333; //$$//
$btn-default-bg:                 #fff; //$$//
$btn-default-border:             #ccc; //$$//

// Button Primary properties
// -------------------------
$btn-primary-color:              #fff; //###//
$btn-primary-bg:                 $brand-primary; //$$//
$btn-primary-border:             darken($btn-primary-bg, 5%); //$$//

// Button Success properties
// -------------------------
$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

// Button info properties
// -------------------------
$btn-info-color:                 #fff;//@//
$btn-info-bg:                    $brand-info;//@//
$btn-info-border:                darken($btn-info-bg, 5%);//@//

// Button Warning properties
// -------------------------
$btn-warning-color:              #fff;//@//
$btn-warning-bg:                 $brand-warning;//@//
$btn-warning-border:             darken($btn-warning-bg, 5%);//@//

// Button Danger properties
// -------------------------
$btn-danger-color:               #fff;//@//
$btn-danger-bg:                  $brand-danger;//@//
$btn-danger-border:              darken($btn-danger-bg, 5%);//@//

// Button link disabled properties
// -------------------------
$btn-link-disabled-color:        $gray-light;//@//


//FORMS:
//***************************************************
//##

// From color values
// -------------------------
//** `<input>` background color
$input-bg:                       #fff !default; //@//
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter !default; //@//

//** Text color for `<input>`s
$input-color:                    $gray !default; //@//
//** `<input>` border color
$input-border:                   #ccc !default; //@//
//** `<input>` border radius
$input-border-radius:            $border-radius-base !default; //@//
//** Border color for inputs on focus
$input-border-focus:             #66afe9 !default; //@//

//** Placeholder text color
$input-color-placeholder:        $gray-light !default; //@//



// From height values
// -------------------------
//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default; //@// 
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default; //@// 
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default; //@// 

// Legend color values
// -------------------------
$legend-color:                   $gray-dark !default; //@// 
$legend-border-color:            #e5e5e5 !default; //$$//


// Input Group color values
// -------------------------
//** Background color for textual input addons
$input-group-addon-bg:           $gray-lighter !default; //@//
//** Border color for textual input addons
$input-group-addon-border-color: $input-border !default; //@//


//DROPDOWNS:
//***************************************************
//## Dropdown menu container and contents.

// Dropdown Color values
// -------------------------
//** Background for the dropdown menu.
$dropdown-bg:                    #fff !default;  //###//
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;  //###//
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;  //###//
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;  //###//

//** Dropdown link text color.
$dropdown-link-color:            $gray-dark !default;  //###//
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;  //###//
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5 !default;  //###//

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;  //###//
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg !default;  //###//

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;  //###//

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;  //###//

// Note: Deprecated $dropdown-caret-color as of v3.1.0
$dropdown-caret-color:           #000 !default;  //###//


// COMPONENT VARIABLES
// --------------------------------------------------

//-- Z-index master list //###//
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
// Try to avoid customizing these :) -esp. new additions dont change the existing to avoid issues
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1010 !default;
$zindex-tooltip:           1030 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;


//MEDIA QUERIES BREAKPOINTS: //$$// -not sure whether to make changes here or leave it as it is -should be revisisted later.
//***************************************************
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//GRID SYSTEM:
//***************************************************
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;  //$$//
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;  //$$//
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//CONTAINER SIZES:
//***************************************************
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width)) !default; //$$//
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width)) !default; //$$//
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ((1140px + $grid-gutter-width)) !default; //$$//
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;


//NAVBAR:
//***************************************************
//##

// Basics of a navbar
$navbar-height:                    50px !default; 
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default; //###//
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default; //(30px/2)=15px !default; //###//
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;  //((50px-20px)/2) = 30px/2=15px //###//
$navbar-collapse-max-height:       340px !default;

//$navbar-default-color:             #777 !default;    //###// this is the value given in bootstrap
$navbar-default-color:             $brand-body-bg !default;    //###// I am overwriting the above bootstrap value with this.
//$navbar-default-bg:                #f8f8f8 !default;    //###// this is the value given in bootstrap
$navbar-default-bg:                $brand-primary !default;    //###// I am overwriting the above bootstrap value with this.
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;//###//

// Navbar links
//$navbar-default-link-color:              #777 !default;    //###// this is the value given in bootstrap
$navbar-default-link-color:                $brand-body-bg !default;    //###// I am overwriting the above bootstrap value with this.
$navbar-default-link-hover-color:          #333 !default;    //###//
$navbar-default-link-hover-bg:             transparent !default;    //###//
$navbar-default-link-active-color:         #555 !default;    //###//
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;    //###//
$navbar-default-link-disabled-color:       #ccc !default;    //###//
$navbar-default-link-disabled-bg:          transparent !default;    //###//

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default; //###//
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default; //###//
$navbar-default-brand-hover-bg:            transparent !default; //$$//

// Navbar toggle //$$// -not sure whether to make changes here or leave it as it is -should be revisisted later.
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #ccc !default;
$navbar-default-toggle-border-color:       #ddd !default;


//INVERTED NAVBAR:
//***************************************************
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-light !default;//###//
$navbar-inverse-bg:                         #222 !default;//###//
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;//###//

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-light !default;//###//
$navbar-inverse-link-hover-color:           #fff !default;//###//
$navbar-inverse-link-hover-bg:              transparent !default;//###//
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;//###//
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;//###//
$navbar-inverse-link-disabled-color:        #444 !default;//###//
$navbar-inverse-link-disabled-bg:           transparent !default;//###//

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;//###//
$navbar-inverse-brand-hover-color:          #fff !default;//###//
$navbar-inverse-brand-hover-bg:             transparent !default;//###//
//###//
// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;


//NAVS:
//***************************************************
//##

//=== Shared nav styles
$nav-link-padding:                          10px 15px !default;//###//
$nav-link-hover-bg:                         $gray-lighter !default;//###//

$nav-disabled-link-color:                   $gray-light !default;//###//
$nav-disabled-link-hover-color:             $gray-light !default;//###//

$nav-open-link-hover-color:                 #fff !default;//###//

//TABS:
//***************************************************
$nav-tabs-border-color:                     #ddd !default;  //###//

$nav-tabs-link-hover-border-color:          $gray-lighter !default;  //###//

$nav-tabs-active-link-hover-bg:             $body-bg !default;  //###//  active tab bg color
$nav-tabs-active-link-hover-color:          $gray !default;  //###// active tab link text color
$nav-tabs-active-link-hover-border-color:   #ddd !default;  //###//

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

//PILLS:
//***************************************************
$nav-pills-border-radius:                   $border-radius-base !default;//@//
$nav-pills-active-link-hover-bg:            $component-active-bg !default;//###//
$nav-pills-active-link-hover-color:         $component-active-color !default;//###//


//PAGINATION:
//***************************************************
//##

$pagination-color:                     $link-color !default;//$$//
$pagination-bg:                        #fff !default; //@//Background color
$pagination-border:                    #ddd !default; //###//Border color

$pagination-hover-color:               $link-hover-color !default;//$$//
$pagination-hover-bg:                  $gray-lighter !default; //$$//Background hover color
$pagination-hover-border:              #ddd !default; //###//Border color

$pagination-active-color:              #fff !default;  //###//Active text color
$pagination-active-bg:                 $brand-primary !default; //###//Active background color
$pagination-active-border:             $brand-primary !default; //###//Active background color

$pagination-disabled-color:            $gray-light !default; //@//Disabled text color
$pagination-disabled-bg:               #fff !default; //@//
$pagination-disabled-border:           #ddd !default; //@//


//PAGER (THE NEXT / PREVIOUS BUTTONS)://###//
//***************************************************
//##

$pager-bg:                             $pagination-bg !default;
$pager-border:                         $pagination-border !default;
$pager-border-radius:                  15px !default;  //###// Pager border radius

$pager-hover-bg:                       $pagination-hover-bg !default;

$pager-active-bg:                      $pagination-active-bg !default;
$pager-active-color:                   $pagination-active-color !default;

$pager-disabled-color:                 $pagination-disabled-color !default;  //@//Pager disabled state color


//JUMBOTRON:
//***************************************************
//##

$jumbotron-padding:              30px !default;//###//
$jumbotron-color:                inherit !default;//###//
$jumbotron-bg:                   $gray-lighter !default;//###//
$jumbotron-heading-color:        inherit !default;//###//
$jumbotron-font-size:            ceil($font-size-base * 1.5) !default;//###//


//FORM STATES AND ALERTS:  - //@// -mostly no need to make any chnages as it goes well with most of the wesbite branding..incase if you need make chnages.
//***************************************************
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(spin($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(spin($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(spin($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(spin($state-danger-bg, -10), 5%) !default;


//TOOLTIPS:
//***************************************************
//##

//** Tooltip max width
$tooltip-max-width:           200px !default; //@//
//** Tooltip text color
$tooltip-color:               #fff !default; //@//
//** Tooltip background color
$tooltip-bg:                  #000 !default; //@//
$tooltip-opacity:             .9 !default; //@//

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default; //@//
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default; //@//


//POPOVERS:
//***************************************************
//##

//** Popover body background color
$popover-bg:                          #fff !default; //###//
//** Popover maximum width
$popover-max-width:                   276px !default; //###//
//** Popover border color
$popover-border-color:                rgba(0,0,0,.2) !default; //###//
//** Popover fallback border color
$popover-fallback-border-color:       #ccc !default; //###//

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default; //###//

//** Popover arrow width
$popover-arrow-width:                 10px !default; //###//
//** Popover arrow color
$popover-arrow-color:                 #fff !default; //###//

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default; //###//
//** Popover outer arrow color
$popover-arrow-outer-color:           fadein($popover-border-color, 5%) !default; //###//
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default; //###//


//LABELS:
//***************************************************
//##

//** Default label background color
$label-default-bg:            $gray-light !default; //@//
//** Primary label background color
$label-primary-bg:            $brand-primary !default; //@//
//** Success label background color
$label-success-bg:            $brand-success !default; //@//
//** Info label background color
$label-info-bg:               $brand-info !default; //@//
//** Warning label background color
$label-warning-bg:            $brand-warning !default; //@//
//** Danger label background color
$label-danger-bg:             $brand-danger !default; //@//

//** Default label text color
$label-color:                 #fff !default; //@//
//** Default text color of a linked label
$label-link-hover-color:      #fff !default; //@//


//MODALS:
//***************************************************
//##

//** Padding applied to the modal body
$modal-inner-padding:         15px !default; //###//

//** Padding applied to the modal title
$modal-title-padding:         15px !default; //###//
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default; //###//

//** Background color of modal content area
$modal-content-bg:                             #fff !default; //###//
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default; //###//
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default; //###//

//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default; //###//
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default; //###//
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default; //###//
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default; //###//

$modal-lg:                    900px !default; //###//
$modal-md:                    600px !default; //###//
$modal-sm:                    300px !default; //###//


//ALERTS:
//***************************************************
//## Define alert colors, border radius, and padding.

$alert-padding:               15px !default;//@//
$alert-border-radius:         $border-radius-base !default;//@//
$alert-link-font-weight:      bold !default;//@//

$alert-success-bg:            $state-success-bg !default;//@//
$alert-success-text:          $state-success-text !default;//@//
$alert-success-border:        $state-success-border !default;//@//

$alert-info-bg:               $state-info-bg !default;//@//
$alert-info-text:             $state-info-text !default;//@//
$alert-info-border:           $state-info-border !default;//@//

$alert-warning-bg:            $state-warning-bg !default;//@//
$alert-warning-text:          $state-warning-text !default;//@//
$alert-warning-border:        $state-warning-border !default;//@//

$alert-danger-bg:             $state-danger-bg !default;//@//
$alert-danger-text:           $state-danger-text !default;//@//
$alert-danger-border:         $state-danger-border !default;//@//


//PROGRESS BARS:
//***************************************************
//##

//** Background color of the whole progress component
$progress-bg:                 #f5f5f5 !default; //@//
//** Progress bar text color
$progress-bar-color:          #fff !default; //@//

//** Default progress bar color
$progress-bar-bg:             $brand-primary !default; //@//
//** Success progress bar color
$progress-bar-success-bg:     $brand-success !default; //@//
//** Warning progress bar color
$progress-bar-warning-bg:     $brand-warning !default; //@//
//** Danger progress bar color
$progress-bar-danger-bg:      $brand-danger !default; //@//
//** Info progress bar color
$progress-bar-info-bg:        $brand-info !default; //@//


//LIST GROUP:
//***************************************************
//##

//** Background color on `.list-group-item`
$list-group-bg:                 #fff !default;  //###//
//** `.list-group-item` border color
$list-group-border:             #ddd !default;  //###//
//** List group border radius
$list-group-border-radius:      $border-radius-base !default;  //###//

//** Background color of single list items on hover
$list-group-hover-bg:           #f5f5f5 !default;  //###//
//** Text color of active list items
$list-group-active-color:       $component-active-color !default;  //###//
//** Background color of active list items
$list-group-active-bg:          $component-active-bg !default;  //###//
//** Border color of active list elements
$list-group-active-border:      $list-group-active-bg !default;  //###//
//** Text color for content within active list items
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;  //###//

//** Text color of disabled list items
$list-group-disabled-color:      $gray-light !default;  //###//
//** Background color of disabled list items
$list-group-disabled-bg:         $gray-lighter !default;  //###//
//** Text color for content within disabled list items
$list-group-disabled-text-color: $list-group-disabled-color !default;  //###//

$list-group-link-color:         #555 !default;  //###//
$list-group-link-hover-color:   $list-group-link-color !default;  //###//
$list-group-link-heading-color: #333 !default;  //###//


//PANELS:
//***************************************************
//##

$panel-bg:                    #fff !default; //###//
$panel-body-padding:          15px !default; //###//
$panel-heading-padding:       10px 15px !default; //###//
$panel-footer-padding:        $panel-heading-padding !default; //###//
$panel-border-radius:         $border-radius-base !default; //###//

//** Border color for elements within panels
$panel-inner-border:          #ddd !default; //###//
$panel-footer-bg:             #f5f5f5 !default; //###//

$panel-default-text:          $gray-dark !default; //###//
$panel-default-border:        #ddd !default; //###//
$panel-default-heading-bg:    #f5f5f5 !default; //###//

$panel-primary-text:          #fff !default; //###//
$panel-primary-border:        $brand-primary !default; //###//
$panel-primary-heading-bg:    $brand-primary !default; //###//

$panel-success-text:          $state-success-text !default; //###//
$panel-success-border:        $state-success-border !default; //###//
$panel-success-heading-bg:    $state-success-bg !default; //###//

$panel-info-text:             $state-info-text !default; //###//
$panel-info-border:           $state-info-border !default; //###//
$panel-info-heading-bg:       $state-info-bg !default; //###//

$panel-warning-text:          $state-warning-text !default; //###//
$panel-warning-border:        $state-warning-border !default; //###//
$panel-warning-heading-bg:    $state-warning-bg !default; //###//

$panel-danger-text:           $state-danger-text !default; //###//
$panel-danger-border:         $state-danger-border !default; //###//
$panel-danger-heading-bg:     $state-danger-bg !default; //###//


//THUMBNAILS:
//***************************************************
//##

//** Padding around the thumbnail image
$thumbnail-padding:           4px !default; //###//
//** Thumbnail background color
$thumbnail-bg:                $body-bg !default; //###//
//** Thumbnail border color
$thumbnail-border:            #ddd !default; //###//
//** Thumbnail border radius
$thumbnail-border-radius:     $border-radius-base !default; //###//

//** Custom text color for thumbnail captions
$thumbnail-caption-color:     $text-color !default; //###//
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px !default; //###//


//WELLS:
//***************************************************
//##

$well-bg:                     #f5f5f5 !default; //$$//
$well-border:                 darken($well-bg, 7%) !default;  //$$//


//BADGES:
//***************************************************
//##

$badge-color:                 #fff !default;  //$$//
//** Linked badge text color on hover
$badge-link-hover-color:      #fff !default;  //$$//
$badge-bg:                    $gray-light !default;  //$$//

//** Badge text color in active nav link
$badge-active-color:          $link-color !default;  //$$//
//** Badge background color in active nav link
$badge-active-bg:             #fff !default;  //$$//

$badge-font-weight:           bold !default;  //$$//
$badge-line-height:           1 !default;  //$$//
$badge-border-radius:         10px !default;  //$$//


//BREADCRUMBS:
//***************************************************
//##

$breadcrumb-padding-vertical:   8px !default;  //$$//
$breadcrumb-padding-horizontal: 15px !default;  //$$//
//** Breadcrumb background color
$breadcrumb-bg:                 #f5f5f5 !default;  //$$//
//** Breadcrumb text color
$breadcrumb-color:              #ccc !default;  //$$//
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $gray-light !default;  //$$//
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          "/" !default;  //$$//


//CAROUSEL:
//***************************************************
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default; //$$//

$carousel-control-color:                      #fff !default; //$$//
$carousel-control-width:                      15% !default; //$$//
$carousel-control-opacity:                    .5 !default; //$$//
$carousel-control-font-size:                  20px !default; //$$//

$carousel-indicator-active-bg:                #fff !default; //$$//
$carousel-indicator-border-color:             #fff !default; //$$//

$carousel-caption-color:                      #fff !default; //$$//


//CLOSE:
//***************************************************
//##

$close-font-weight:           bold !default; //@//
$close-color:                 #000 !default; //@//
$close-text-shadow:           0 1px 0 #fff !default; //@//


//CODE:
//***************************************************
//##

$code-color:                  #c7254e !default; //@//
$code-bg:                     #f9f2f4 !default; //@//

$kbd-color:                   #fff !default; //@//
$kbd-bg:                      #333 !default; //@//

$pre-bg:                      #f5f5f5 !default; //@//
$pre-color:                   $gray-dark !default; //@//
$pre-border-color:            #ccc !default; //@//
$pre-scrollable-max-height:   340px !default; //@//


//TYPE:
//***************************************************
//##

//** Text muted color
$text-muted:                  $gray-light !default;  //@//
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light !default;  //@//
//** Headings small color
$headings-small-color:        $gray-light !default;  //@//
//** Blockquote small color
$blockquote-small-color:      $gray-light !default;  //@//
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25) !default;  //@//
//** Blockquote border color
$blockquote-border-color:     $gray-lighter !default;  //@//
//** Page header border color
$page-header-border-color:    $gray-lighter !default;  //@//


//MISCELLANEOUS:
//***************************************************
//##

//** Horizontal line color.
$hr-border:                   $gray-lighter !default;  //Horizontal Ruler color  //@//

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;   //@//
