/*-------------------------------------*\
	HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 * 
 * Classes added:
 * 	1) hint
 */
/* line 28, ../../../sass/other-sources/hint-css.scss */
.hint, [data-hint] {
  position: relative;
  display: inline-block;
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */
}

/* line 37, ../../../sass/other-sources/hint-css.scss */
.hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* line 49, ../../../sass/other-sources/hint-css.scss */
.hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after, [data-hint]:hover:before, [data-hint]:hover:after, [data-hint]:focus:before, [data-hint]:focus:after {
  visibility: visible;
  opacity: 1;
}

/* line 52, ../../../sass/other-sources/hint-css.scss */
.hint:before, [data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001;
}

/* line 58, ../../../sass/other-sources/hint-css.scss */
.hint:after, [data-hint]:after {
  content: attr(data-hint);
  background: #383838;
  color: white;
  text-shadow: 0 -1px 0px black;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
/* line 83, ../../../sass/other-sources/hint-css.scss */
.hint--top:before {
  border-top-color: #383838;
}

/* line 86, ../../../sass/other-sources/hint-css.scss */
.hint--bottom:before {
  border-bottom-color: #383838;
}

/* line 89, ../../../sass/other-sources/hint-css.scss */
.hint--left:before {
  border-left-color: #383838;
}

/* line 92, ../../../sass/other-sources/hint-css.scss */
.hint--right:before {
  border-right-color: #383838;
}

/**
 * top tooltip
 */
/* line 98, ../../../sass/other-sources/hint-css.scss */
.hint--top:before {
  margin-bottom: -12px;
}

/* line 100, ../../../sass/other-sources/hint-css.scss */
.hint--top:after {
  margin-left: -18px;
}

/* line 102, ../../../sass/other-sources/hint-css.scss */
.hint--top:before, .hint--top:after {
  bottom: 100%;
  left: 50%;
}

/* line 105, ../../../sass/other-sources/hint-css.scss */
.hint--top:hover:after, .hint--top:hover:before, .hint--top:focus:after, .hint--top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}

/**
 * bottom tooltip
 */
/* line 113, ../../../sass/other-sources/hint-css.scss */
.hint--bottom:before {
  margin-top: -12px;
}

/* line 115, ../../../sass/other-sources/hint-css.scss */
.hint--bottom:after {
  margin-left: -18px;
}

/* line 117, ../../../sass/other-sources/hint-css.scss */
.hint--bottom:before, .hint--bottom:after {
  top: 100%;
  left: 50%;
}

/* line 120, ../../../sass/other-sources/hint-css.scss */
.hint--bottom:hover:after, .hint--bottom:hover:before, .hint--bottom:focus:after, .hint--bottom:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}

/**
 * right tooltip
 */
/* line 128, ../../../sass/other-sources/hint-css.scss */
.hint--right:before {
  margin-left: -12px;
  margin-bottom: -6px;
}

/* line 131, ../../../sass/other-sources/hint-css.scss */
.hint--right:after {
  margin-bottom: -14px;
}

/* line 133, ../../../sass/other-sources/hint-css.scss */
.hint--right:before, .hint--right:after {
  left: 100%;
  bottom: 50%;
}

/* line 136, ../../../sass/other-sources/hint-css.scss */
.hint--right:hover:after, .hint--right:hover:before, .hint--right:focus:after, .hint--right:focus:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}

/**
 * left tooltip
 */
/* line 144, ../../../sass/other-sources/hint-css.scss */
.hint--left:before {
  margin-right: -12px;
  margin-bottom: -6px;
}

/* line 147, ../../../sass/other-sources/hint-css.scss */
.hint--left:after {
  margin-bottom: -14px;
}

/* line 149, ../../../sass/other-sources/hint-css.scss */
.hint--left:before, .hint--left:after {
  right: 100%;
  bottom: 50%;
}

/* line 152, ../../../sass/other-sources/hint-css.scss */
.hint--left:hover:after, .hint--left:hover:before, .hint--left:focus:after, .hint--left:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 *
 * Classes added:
 * 	1) hint--error
 * 	2) hint--warning
 * 	3) hint--info
 * 	4) hint--success
 *
 */
/**
 * Error
 */
/* line 172, ../../../sass/other-sources/hint-css.scss */
.hint--error:after {
  background-color: #b34e4d;
  text-shadow: 0 -1px 0px #592726;
}

/* line 175, ../../../sass/other-sources/hint-css.scss */
.hint--error.hint--top:before {
  border-top-color: #b34e4d;
}

/* line 177, ../../../sass/other-sources/hint-css.scss */
.hint--error.hint--bottom:before {
  border-bottom-color: #b34e4d;
}

/* line 179, ../../../sass/other-sources/hint-css.scss */
.hint--error.hint--left:before {
  border-left-color: #b34e4d;
}

/* line 181, ../../../sass/other-sources/hint-css.scss */
.hint--error.hint--right:before {
  border-right-color: #b34e4d;
}

/**
 * Warning
 */
/* line 187, ../../../sass/other-sources/hint-css.scss */
.hint--warning:after {
  background-color: #c09854;
  text-shadow: 0 -1px 0px #6c5328;
}

/* line 190, ../../../sass/other-sources/hint-css.scss */
.hint--warning.hint--top:before {
  border-top-color: #c09854;
}

/* line 192, ../../../sass/other-sources/hint-css.scss */
.hint--warning.hint--bottom:before {
  border-bottom-color: #c09854;
}

/* line 194, ../../../sass/other-sources/hint-css.scss */
.hint--warning.hint--left:before {
  border-left-color: #c09854;
}

/* line 196, ../../../sass/other-sources/hint-css.scss */
.hint--warning.hint--right:before {
  border-right-color: #c09854;
}

/**
 * Info
 */
/* line 202, ../../../sass/other-sources/hint-css.scss */
.hint--info:after {
  background-color: #3986ac;
  text-shadow: 0 -1px 0px #193b4d;
}

/* line 205, ../../../sass/other-sources/hint-css.scss */
.hint--info.hint--top:before {
  border-top-color: #3986ac;
}

/* line 207, ../../../sass/other-sources/hint-css.scss */
.hint--info.hint--bottom:before {
  border-bottom-color: #3986ac;
}

/* line 209, ../../../sass/other-sources/hint-css.scss */
.hint--info.hint--left:before {
  border-left-color: #3986ac;
}

/* line 211, ../../../sass/other-sources/hint-css.scss */
.hint--info.hint--right:before {
  border-right-color: #3986ac;
}

/**
 * Success
 */
/* line 217, ../../../sass/other-sources/hint-css.scss */
.hint--success:after {
  background-color: #458746;
  text-shadow: 0 -1px 0px #1a321a;
}

/* line 220, ../../../sass/other-sources/hint-css.scss */
.hint--success.hint--top:before {
  border-top-color: #458746;
}

/* line 222, ../../../sass/other-sources/hint-css.scss */
.hint--success.hint--bottom:before {
  border-bottom-color: #458746;
}

/* line 224, ../../../sass/other-sources/hint-css.scss */
.hint--success.hint--left:before {
  border-left-color: #458746;
}

/* line 226, ../../../sass/other-sources/hint-css.scss */
.hint--success.hint--right:before {
  border-right-color: #458746;
}

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 * 	1) hint--always
 *
 */
/* line 238, ../../../sass/other-sources/hint-css.scss */
.hint--always:after, .hint--always:before {
  opacity: 1;
  visibility: visible;
}

/* line 241, ../../../sass/other-sources/hint-css.scss */
.hint--always.hint--top:after, .hint--always.hint--top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* line 245, ../../../sass/other-sources/hint-css.scss */
.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}

/* line 249, ../../../sass/other-sources/hint-css.scss */
.hint--always.hint--left:after, .hint--always.hint--left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}

/* line 253, ../../../sass/other-sources/hint-css.scss */
.hint--always.hint--right:after, .hint--always.hint--right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 *
 * Classes added:
 * 	1) hint--rounded
 *
 */
/* line 267, ../../../sass/other-sources/hint-css.scss */
.hint--rounded:after {
  border-radius: 4px;
}

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 * 	1) hint--bounce
 *
 */
/* line 279, ../../../sass/other-sources/hint-css.scss */
.hint--bounce:before, .hint--bounce:after {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}
