/* line 14, ../../../sass/other-sources/hover-css.scss */
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 24, ../../../sass/other-sources/hover-css.scss */
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Shrink */
/* line 30, ../../../sass/other-sources/hover-css.scss */
.shrink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 40, ../../../sass/other-sources/hover-css.scss */
.shrink:hover, .shrink:focus, .shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Pulse */
@-webkit-keyframes pulse {
  /* line 47, ../../../sass/other-sources/hover-css.scss */
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* line 52, ../../../sass/other-sources/hover-css.scss */
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse {
  /* line 59, ../../../sass/other-sources/hover-css.scss */
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* line 64, ../../../sass/other-sources/hover-css.scss */
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* line 70, ../../../sass/other-sources/hover-css.scss */
.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 76, ../../../sass/other-sources/hover-css.scss */
.pulse:hover, .pulse:focus, .pulse:active {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Pulse Grow */
@-webkit-keyframes pulse-grow {
  /* line 89, ../../../sass/other-sources/hover-css.scss */
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse-grow {
  /* line 96, ../../../sass/other-sources/hover-css.scss */
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/* line 102, ../../../sass/other-sources/hover-css.scss */
.pulse-grow {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 108, ../../../sass/other-sources/hover-css.scss */
.pulse-grow:hover, .pulse-grow:focus, .pulse-grow:active {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Pulse Shrink */
@-webkit-keyframes pulse-shrink {
  /* line 123, ../../../sass/other-sources/hover-css.scss */
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse-shrink {
  /* line 130, ../../../sass/other-sources/hover-css.scss */
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* line 136, ../../../sass/other-sources/hover-css.scss */
.pulse-shrink {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 142, ../../../sass/other-sources/hover-css.scss */
.pulse-shrink:hover, .pulse-shrink:focus, .pulse-shrink:active {
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Push */
@-webkit-keyframes push {
  /* line 157, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  /* line 162, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes push {
  /* line 169, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  /* line 174, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* line 180, ../../../sass/other-sources/hover-css.scss */
.push {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 186, ../../../sass/other-sources/hover-css.scss */
.push:hover, .push:focus, .push:active {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Pop */
@-webkit-keyframes pop {
  /* line 199, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  /* line 204, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  /* line 211, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  /* line 216, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* line 222, ../../../sass/other-sources/hover-css.scss */
.pop {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 228, ../../../sass/other-sources/hover-css.scss */
.pop:hover, .pop:focus, .pop:active {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Rotate */
/* line 240, ../../../sass/other-sources/hover-css.scss */
.rotate {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 250, ../../../sass/other-sources/hover-css.scss */
.rotate:hover, .rotate:focus, .rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* Grow Rotate */
/* line 256, ../../../sass/other-sources/hover-css.scss */
.grow-rotate {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 266, ../../../sass/other-sources/hover-css.scss */
.grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/* Float */
/* line 272, ../../../sass/other-sources/hover-css.scss */
.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 282, ../../../sass/other-sources/hover-css.scss */
.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* Sink */
/* line 288, ../../../sass/other-sources/hover-css.scss */
.sink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 298, ../../../sass/other-sources/hover-css.scss */
.sink:hover, .sink:focus, .sink:active {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

/* Hover */
@-webkit-keyframes hover {
  /* line 305, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  /* line 310, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  /* line 317, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  /* line 322, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

/* line 328, ../../../sass/other-sources/hover-css.scss */
.hover {
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 338, ../../../sass/other-sources/hover-css.scss */
.hover:hover, .hover:focus, .hover:active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Hang */
@-webkit-keyframes hang {
  /* line 357, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  /* line 362, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hang {
  /* line 369, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  /* line 374, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

/* line 380, ../../../sass/other-sources/hover-css.scss */
.hang {
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 390, ../../../sass/other-sources/hover-css.scss */
.hang:hover, .hang:focus, .hang:active {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hang;
  animation-name: hang;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Skew */
/* line 408, ../../../sass/other-sources/hover-css.scss */
.skew {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 418, ../../../sass/other-sources/hover-css.scss */
.skew:hover, .skew:focus, .skew:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

/* Skew Forward */
/* line 424, ../../../sass/other-sources/hover-css.scss */
.skew-forward {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 436, ../../../sass/other-sources/hover-css.scss */
.skew-forward:hover, .skew-forward:focus, .skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

/* Skew Backward */
/* line 442, ../../../sass/other-sources/hover-css.scss */
.skew-backward {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 454, ../../../sass/other-sources/hover-css.scss */
.skew-backward:hover, .skew-backward:focus, .skew-backward:active {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  /* line 461, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  /* line 466, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  /* line 471, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  /* line 476, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  /* line 481, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  /* line 486, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-vertical {
  /* line 493, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  /* line 498, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  /* line 503, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  /* line 508, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  /* line 513, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  /* line 518, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* line 524, ../../../sass/other-sources/hover-css.scss */
.wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 530, ../../../sass/other-sources/hover-css.scss */
.wobble-vertical:hover, .wobble-vertical:focus, .wobble-vertical:active {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
  /* line 543, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  /* line 548, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  /* line 553, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  /* line 558, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  /* line 563, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  /* line 568, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes wobble-horizontal {
  /* line 575, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  /* line 580, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  /* line 585, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  /* line 590, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  /* line 595, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  /* line 600, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* line 606, ../../../sass/other-sources/hover-css.scss */
.wobble-horizontal {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 612, ../../../sass/other-sources/hover-css.scss */
.wobble-horizontal:hover, .wobble-horizontal:focus, .wobble-horizontal:active {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Wobble To Bottom Right */
@-webkit-keyframes wobble-to-bottom-right {
  /* line 625, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }

  /* line 630, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }

  /* line 635, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }

  /* line 640, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  /* line 645, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }

  /* line 650, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes wobble-to-bottom-right {
  /* line 657, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }

  /* line 662, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }

  /* line 667, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }

  /* line 672, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  /* line 677, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }

  /* line 682, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/* line 688, ../../../sass/other-sources/hover-css.scss */
.wobble-to-bottom-right {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 694, ../../../sass/other-sources/hover-css.scss */
.wobble-to-bottom-right:hover, .wobble-to-bottom-right:focus, .wobble-to-bottom-right:active {
  -webkit-animation-name: wobble-to-bottom-right;
  animation-name: wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Wobble To Top Right */
@-webkit-keyframes wobble-to-top-right {
  /* line 707, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  /* line 712, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  /* line 717, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  /* line 722, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  /* line 727, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  /* line 732, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes wobble-to-top-right {
  /* line 739, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  /* line 744, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  /* line 749, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  /* line 754, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  /* line 759, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  /* line 764, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/* line 770, ../../../sass/other-sources/hover-css.scss */
.wobble-to-top-right {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 776, ../../../sass/other-sources/hover-css.scss */
.wobble-to-top-right:hover, .wobble-to-top-right:focus, .wobble-to-top-right:active {
  -webkit-animation-name: wobble-to-top-right;
  animation-name: wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Wobble Top */
@-webkit-keyframes wobble-top {
  /* line 789, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  /* line 794, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  /* line 799, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  /* line 804, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  /* line 809, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  /* line 814, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes wobble-top {
  /* line 821, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  /* line 826, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  /* line 831, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  /* line 836, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  /* line 841, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  /* line 846, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

/* line 852, ../../../sass/other-sources/hover-css.scss */
.wobble-top {
  display: inline-block;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 860, ../../../sass/other-sources/hover-css.scss */
.wobble-top:hover, .wobble-top:focus, .wobble-top:active {
  -webkit-animation-name: wobble-top;
  animation-name: wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Wobble Bottom */
@-webkit-keyframes wobble-bottom {
  /* line 873, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  /* line 878, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  /* line 883, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  /* line 888, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  /* line 893, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  /* line 898, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes wobble-bottom {
  /* line 905, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  /* line 910, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  /* line 915, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  /* line 920, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  /* line 925, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  /* line 930, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

/* line 936, ../../../sass/other-sources/hover-css.scss */
.wobble-bottom {
  display: inline-block;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 944, ../../../sass/other-sources/hover-css.scss */
.wobble-bottom:hover, .wobble-bottom:focus, .wobble-bottom:active {
  -webkit-animation-name: wobble-bottom;
  animation-name: wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Wobble Skew */
@-webkit-keyframes wobble-skew {
  /* line 957, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  /* line 962, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  /* line 967, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  /* line 972, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  /* line 977, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  /* line 982, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes wobble-skew {
  /* line 989, ../../../sass/other-sources/hover-css.scss */
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  /* line 994, ../../../sass/other-sources/hover-css.scss */
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  /* line 999, ../../../sass/other-sources/hover-css.scss */
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  /* line 1004, ../../../sass/other-sources/hover-css.scss */
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  /* line 1009, ../../../sass/other-sources/hover-css.scss */
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  /* line 1014, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

/* line 1020, ../../../sass/other-sources/hover-css.scss */
.wobble-skew {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1026, ../../../sass/other-sources/hover-css.scss */
.wobble-skew:hover, .wobble-skew:focus, .wobble-skew:active {
  -webkit-animation-name: wobble-skew;
  animation-name: wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Buzz */
@-webkit-keyframes buzz {
  /* line 1039, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 1044, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes buzz {
  /* line 1051, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 1056, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

/* line 1062, ../../../sass/other-sources/hover-css.scss */
.buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1068, ../../../sass/other-sources/hover-css.scss */
.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Buzz Out */
@-webkit-keyframes buzz-out {
  /* line 1081, ../../../sass/other-sources/hover-css.scss */
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 1086, ../../../sass/other-sources/hover-css.scss */
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 1091, ../../../sass/other-sources/hover-css.scss */
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 1096, ../../../sass/other-sources/hover-css.scss */
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 1101, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 1106, ../../../sass/other-sources/hover-css.scss */
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 1111, ../../../sass/other-sources/hover-css.scss */
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 1116, ../../../sass/other-sources/hover-css.scss */
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 1121, ../../../sass/other-sources/hover-css.scss */
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  /* line 1126, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  /* line 1133, ../../../sass/other-sources/hover-css.scss */
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 1138, ../../../sass/other-sources/hover-css.scss */
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 1143, ../../../sass/other-sources/hover-css.scss */
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 1148, ../../../sass/other-sources/hover-css.scss */
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 1153, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 1158, ../../../sass/other-sources/hover-css.scss */
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 1163, ../../../sass/other-sources/hover-css.scss */
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 1168, ../../../sass/other-sources/hover-css.scss */
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 1173, ../../../sass/other-sources/hover-css.scss */
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  /* line 1178, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

/* line 1184, ../../../sass/other-sources/hover-css.scss */
.buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1190, ../../../sass/other-sources/hover-css.scss */
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* BORDER TRANSITIONS */
/* Border Fade */
/* line 1203, ../../../sass/other-sources/hover-css.scss */
.border-fade {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* line 1214, ../../../sass/other-sources/hover-css.scss */
.border-fade:hover, .border-fade:focus, .border-fade:active {
  box-shadow: inset 0 0 0 4px #666666, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* Hollow */
/* line 1220, ../../../sass/other-sources/hover-css.scss */
.hollow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* line 1231, ../../../sass/other-sources/hover-css.scss */
.hollow:hover, .hollow:focus, .hollow:active {
  background: none;
}

/* Trim */
/* line 1236, ../../../sass/other-sources/hover-css.scss */
.trim {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1243, ../../../sass/other-sources/hover-css.scss */
.trim:before {
  content: '';
  position: absolute;
  border: white solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/* line 1257, ../../../sass/other-sources/hover-css.scss */
.trim:hover:before, .trim:focus:before, .trim:active:before {
  opacity: 1;
}

/* Outline Outward */
/* line 1262, ../../../sass/other-sources/hover-css.scss */
.outline-outward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1269, ../../../sass/other-sources/hover-css.scss */
.outline-outward:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

/* line 1282, ../../../sass/other-sources/hover-css.scss */
.outline-outward:hover:before, .outline-outward:focus:before, .outline-outward:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

/* Outline Inward */
/* line 1290, ../../../sass/other-sources/hover-css.scss */
.outline-inward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1297, ../../../sass/other-sources/hover-css.scss */
.outline-inward:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

/* line 1312, ../../../sass/other-sources/hover-css.scss */
.outline-inward:hover:before, .outline-inward:focus:before, .outline-inward:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

/* Round Corners */
/* line 1321, ../../../sass/other-sources/hover-css.scss */
.round-corners {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1331, ../../../sass/other-sources/hover-css.scss */
.round-corners:hover, .round-corners:focus, .round-corners:active {
  border-radius: 1em;
}

/* SHADOW/GLOW TRANSITIONS */
/* Glow */
/* line 1337, ../../../sass/other-sources/hover-css.scss */
.glow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1347, ../../../sass/other-sources/hover-css.scss */
.glow:hover, .glow:focus, .glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Box Shadow Outset */
/* line 1352, ../../../sass/other-sources/hover-css.scss */
.box-shadow-outset {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1362, ../../../sass/other-sources/hover-css.scss */
.box-shadow-outset:hover, .box-shadow-outset:focus, .box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* Box Shadow Inset */
/* line 1367, ../../../sass/other-sources/hover-css.scss */
.box-shadow-inset {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 1378, ../../../sass/other-sources/hover-css.scss */
.box-shadow-inset:hover, .box-shadow-inset:focus, .box-shadow-inset:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* Float Shadow */
/* line 1384, ../../../sass/other-sources/hover-css.scss */
.float-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1395, ../../../sass/other-sources/hover-css.scss */
.float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

/* line 1412, ../../../sass/other-sources/hover-css.scss */
.float-shadow:hover, .float-shadow:focus, .float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

/* line 1417, ../../../sass/other-sources/hover-css.scss */
.float-shadow:hover:before, .float-shadow:focus:before, .float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Hover Shadow */
@-webkit-keyframes hover {
  /* line 1426, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  /* line 1431, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  /* line 1438, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  /* line 1443, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  /* line 1450, ../../../sass/other-sources/hover-css.scss */
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  /* line 1456, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  /* line 1462, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  /* line 1470, ../../../sass/other-sources/hover-css.scss */
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  /* line 1476, ../../../sass/other-sources/hover-css.scss */
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  /* line 1482, ../../../sass/other-sources/hover-css.scss */
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

/* line 1489, ../../../sass/other-sources/hover-css.scss */
.hover-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1500, ../../../sass/other-sources/hover-css.scss */
.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

/* line 1517, ../../../sass/other-sources/hover-css.scss */
.hover-shadow:hover, .hover-shadow:focus, .hover-shadow:active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* line 1527, ../../../sass/other-sources/hover-css.scss */
.hover-shadow:hover:before, .hover-shadow:focus:before, .hover-shadow:active:before {
  opacity: .4;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Shadow Radial */
/* line 1546, ../../../sass/other-sources/hover-css.scss */
.shadow-radial {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1553, ../../../sass/other-sources/hover-css.scss */
.shadow-radial:before, .shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/* line 1568, ../../../sass/other-sources/hover-css.scss */
.shadow-radial:before {
  bottom: 100%;
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

/* line 1572, ../../../sass/other-sources/hover-css.scss */
.shadow-radial:after {
  top: 100%;
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

/* line 1576, ../../../sass/other-sources/hover-css.scss */
.shadow-radial:hover:before, .shadow-radial:focus:before, .shadow-radial:active:before, .shadow-radial:hover:after, .shadow-radial:focus:after, .shadow-radial:active:after {
  opacity: 1;
}

/* SPEECH BUBBLES */
/* Bubble Top */
/* line 1582, ../../../sass/other-sources/hover-css.scss */
.bubble-top {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1589, ../../../sass/other-sources/hover-css.scss */
.bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top;
  transition-property: top;
  left: calc(50% - 10px);
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
}

/* line 1604, ../../../sass/other-sources/hover-css.scss */
.bubble-top:hover:before, .bubble-top:focus:before, .bubble-top:active:before {
  top: -10px;
}

/* Bubble Right */
/* line 1609, ../../../sass/other-sources/hover-css.scss */
.bubble-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1616, ../../../sass/other-sources/hover-css.scss */
.bubble-right:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: right;
  transition-property: right;
  top: calc(50% - 10px);
  right: 0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
}

/* line 1631, ../../../sass/other-sources/hover-css.scss */
.bubble-right:hover:before, .bubble-right:focus:before, .bubble-right:active:before {
  right: -10px;
}

/* Bubble Bottom */
/* line 1636, ../../../sass/other-sources/hover-css.scss */
.bubble-bottom {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1643, ../../../sass/other-sources/hover-css.scss */
.bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
}

/* line 1658, ../../../sass/other-sources/hover-css.scss */
.bubble-bottom:hover:before, .bubble-bottom:focus:before, .bubble-bottom:active:before {
  bottom: -10px;
}

/* Bubble Left */
/* line 1663, ../../../sass/other-sources/hover-css.scss */
.bubble-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1670, ../../../sass/other-sources/hover-css.scss */
.bubble-left:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: left;
  transition-property: left;
  top: calc(50% - 10px);
  left: 0;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1e1e1 transparent transparent;
}

/* line 1685, ../../../sass/other-sources/hover-css.scss */
.bubble-left:hover:before, .bubble-left:focus:before, .bubble-left:active:before {
  left: -10px;
}

/* Bubble Float Top */
/* line 1690, ../../../sass/other-sources/hover-css.scss */
.bubble-float-top {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1701, ../../../sass/other-sources/hover-css.scss */
.bubble-float-top:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  top: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top;
  transition-property: top;
}

/* line 1715, ../../../sass/other-sources/hover-css.scss */
.bubble-float-top:hover, .bubble-float-top:focus, .bubble-float-top:active {
  -webkit-transform: translateY(5px) translateZ(0);
  transform: translateY(5px) translateZ(0);
}

/* line 1719, ../../../sass/other-sources/hover-css.scss */
.bubble-float-top:hover:before, .bubble-float-top:focus:before, .bubble-float-top:active:before {
  top: -10px;
}

/* Bubble Float Right */
/* line 1724, ../../../sass/other-sources/hover-css.scss */
.bubble-float-right {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1735, ../../../sass/other-sources/hover-css.scss */
.bubble-float-right:before {
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: 0;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: right;
  transition-property: right;
}

/* line 1749, ../../../sass/other-sources/hover-css.scss */
.bubble-float-right:hover, .bubble-float-right:focus, .bubble-float-right:active {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}

/* line 1753, ../../../sass/other-sources/hover-css.scss */
.bubble-float-right:hover:before, .bubble-float-right:focus:before, .bubble-float-right:active:before {
  right: -10px;
}

/* Bubble Float Bottom */
/* line 1758, ../../../sass/other-sources/hover-css.scss */
.bubble-float-bottom {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1769, ../../../sass/other-sources/hover-css.scss */
.bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
}

/* line 1783, ../../../sass/other-sources/hover-css.scss */
.bubble-float-bottom:hover, .bubble-float-bottom:focus, .bubble-float-bottom:active {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
}

/* line 1787, ../../../sass/other-sources/hover-css.scss */
.bubble-float-bottom:hover:before, .bubble-float-bottom:focus:before, .bubble-float-bottom:active:before {
  bottom: -10px;
}

/* Bubble Float Left */
/* line 1792, ../../../sass/other-sources/hover-css.scss */
.bubble-float-left {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1803, ../../../sass/other-sources/hover-css.scss */
.bubble-float-left:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: calc(50% - 10px);
  left: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1e1e1 transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: left;
  transition-property: left;
}

/* line 1817, ../../../sass/other-sources/hover-css.scss */
.bubble-float-left:hover, .bubble-float-left:focus, .bubble-float-left:active {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

/* line 1821, ../../../sass/other-sources/hover-css.scss */
.bubble-float-left:hover:before, .bubble-float-left:focus:before, .bubble-float-left:active:before {
  left: -10px;
}

/* CURLS */
/* Curl Top Left */
/* line 1827, ../../../sass/other-sources/hover-css.scss */
.curl-top-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1834, ../../../sass/other-sources/hover-css.scss */
.curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(135deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}

/* line 1854, ../../../sass/other-sources/hover-css.scss */
.curl-top-left:hover:before, .curl-top-left:focus:before, .curl-top-left:active:before {
  width: 25px;
  height: 25px;
}

/* Curl Top Right */
/* line 1860, ../../../sass/other-sources/hover-css.scss */
.curl-top-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1867, ../../../sass/other-sources/hover-css.scss */
.curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}

/* line 1884, ../../../sass/other-sources/hover-css.scss */
.curl-top-right:hover:before, .curl-top-right:focus:before, .curl-top-right:active:before {
  width: 25px;
  height: 25px;
}

/* Curl Bottom Right */
/* line 1890, ../../../sass/other-sources/hover-css.scss */
.curl-bottom-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1897, ../../../sass/other-sources/hover-css.scss */
.curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(315deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}

/* line 1914, ../../../sass/other-sources/hover-css.scss */
.curl-bottom-right:hover:before, .curl-bottom-right:focus:before, .curl-bottom-right:active:before {
  width: 25px;
  height: 25px;
}

/* Curl Bottom Left */
/* line 1920, ../../../sass/other-sources/hover-css.scss */
.curl-bottom-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 1927, ../../../sass/other-sources/hover-css.scss */
.curl-bottom-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(45deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}

/* line 1944, ../../../sass/other-sources/hover-css.scss */
.curl-bottom-left:hover:before, .curl-bottom-left:focus:before, .curl-bottom-left:active:before {
  width: 25px;
  height: 25px;
}
