@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto/Roboto-Black-webfont.eot");
  src: url("../fonts/roboto/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Black-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Black-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack_italic';
  src: url("../fonts/roboto/Roboto-BlackItalic-webfont.eot");
  src: url("../fonts/roboto/Roboto-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BlackItalic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-BlackItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-BlackItalic-webfont.svg#robotoblack_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto/Roboto-Bold-webfont.eot");
  src: url("../fonts/roboto/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedbold';
  src: url("../fonts/roboto/RobotoCondensed-Bold-webfont.eot");
  src: url("../fonts/roboto/RobotoCondensed-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/RobotoCondensed-Bold-webfont.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-Bold-webfont.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url("../fonts/roboto/RobotoCondensed-BoldItalic-webfont.eot");
  src: url("../fonts/roboto/RobotoCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/RobotoCondensed-BoldItalic-webfont.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold_italic';
  src: url("../fonts/roboto/Roboto-BoldItalic-webfont.eot");
  src: url("../fonts/roboto/Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BoldItalic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-BoldItalic-webfont.svg#robotobold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/roboto/RobotoCondensed-Regular-webfont.eot");
  src: url("../fonts/roboto/RobotoCondensed-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/RobotoCondensed-Regular-webfont.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condenseditalic';
  src: url("../fonts/roboto/RobotoCondensed-Italic-webfont.eot");
  src: url("../fonts/roboto/RobotoCondensed-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/RobotoCondensed-Italic-webfont.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-Italic-webfont.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/roboto/Roboto-Italic-webfont.eot");
  src: url("../fonts/roboto/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Italic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Italic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto/Roboto-Light-webfont.eot");
  src: url("../fonts/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedlight';
  src: url("../fonts/roboto/RobotoCondensed-Light-webfont.eot");
  src: url("../fonts/roboto/RobotoCondensed-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/RobotoCondensed-Light-webfont.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-Light-webfont.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-Light-webfont.svg#roboto_condensedlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url("../fonts/roboto/RobotoCondensed-LightItalic-webfont.eot");
  src: url("../fonts/roboto/RobotoCondensed-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/RobotoCondensed-LightItalic-webfont.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-LightItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight_italic';
  src: url("../fonts/roboto/Roboto-LightItalic-webfont.eot");
  src: url("../fonts/roboto/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-LightItalic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-LightItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-LightItalic-webfont.svg#robotolight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto/Roboto-Medium-webfont.eot");
  src: url("../fonts/roboto/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Medium-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium_italic';
  src: url("../fonts/roboto/Roboto-MediumItalic-webfont.eot");
  src: url("../fonts/roboto/Roboto-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-MediumItalic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-MediumItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-MediumItalic-webfont.svg#robotomedium_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("../fonts/roboto/Roboto-Thin-webfont.eot");
  src: url("../fonts/roboto/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin_italic';
  src: url("../fonts/roboto/Roboto-ThinItalic-webfont.eot");
  src: url("../fonts/roboto/Roboto-ThinItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-ThinItalic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-ThinItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-ThinItalic-webfont.svg#robotothin_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
