/**
 * Repeatable backgrounds
 //from:http://workless.ikreativ.com/
 */

 .bg-floral1
{
  background: url("../images/bg-seamless/bg-floral1.jpg") repeat;
}

.bg-floral1-black
{
  background: url("../images/bg-seamless/bg-floral1-black.jpg") repeat;
}

.bg-classyfabric
{
  background: url("../images/bg-seamless/bg_classyfabric.png") repeat;
}

.bg-beige
{
  background: url("../images/bg-seamless/bg-beige.png") repeat;
}

.bg-black-slate
{
  background: url("../images/bg-seamless/bg-black-slate.jpg") repeat;
}

.bg-brown-floral
{
  background: url("../images/bg-seamless/bg-brown-floral.jpg") repeat;
}

.bg-dark-brown
{
  background: url("../images/bg-seamless/bg-dark-brown.jpg") repeat;
}

.bg-green-bokeh
{
  background: url("../images/bg-seamless/bg-green-bokeh.gif") repeat;
}

.bg-grundge-white
{
  background: url("../images/bg-seamless/bg-grundge-white.jpg") repeat;
}

.bg-stripe
{
  background: url("../images/bg-seamless/bg-stripe.png") repeat;
}

.bg-wave
{
  background: url("../images/bg-seamless/bg-wave.png") repeat;
}

.bg-white-jean
{
  background: url("../images/bg-seamless/bg-white-jean.jpg") repeat;
}

.bg-white-stripe
{
  background: url("../images/bg-seamless/bg-white-stripe.png") repeat;
}

.bg-bedgegrunge
{
  background: url("../images/bg-seamless/bg_bedgegrunge.png") repeat;
}

.bg-brightsquares
{
  background: url("../images/bg-seamless/bg_brightsquares.png") repeat;
}

.bg-debutdark
{
  background: url("../images/bg-seamless/bg_debutdark.png") repeat;
}

.bg-debutlight
{
  background: url("../images/bg-seamless/bg_debutlight.png") repeat;
}

.bg-diagonalstriped
{
  background: url("../images/bg-seamless/bg_diagonalstriped.png") repeat;
}

.bg-wood
{
  background: url("../images/bg-seamless/bg_wood.png") repeat;
}

.bg-whitewall
{
  background: url("../images/bg-seamless/bg_whitewall.png") repeat;
}

.bg-diamond
{
  background: url("../images/bg-seamless/bg_diamond.png") repeat;
}

.bg-grayjean
{
  background: url("../images/bg-seamless/bg_grayjean.png") repeat;
}

.bg-grey
{
  background: url("../images/bg-seamless/bg_grey.png") repeat;
}
.bg-px
{
  background: url("../images/bg-seamless/bg_px.png") repeat;
}
.bg-oliva
{
  background: url("../images/bg-seamless/bg_oliva.png") repeat;
}
.bg-gplay
{
  background: url("../images/bg-seamless/bg_gplay.png") repeat;
}
.bg-retinawood
{
  background: url("../images/bg-seamless/bg_retinawood.png") repeat;
}

.bg-ricepaper
{
  background: url("../images/bg-seamless/bg_ricepaper.png") repeat;
}

.bg-subtledots
{
  background: url("../images/bg-seamless/bg_subtledots.png") repeat;
}

.bg-tinygrid
{
  background: url("../images/bg-seamless/bg_tinygrid.png") repeat;
}

.bg-azsubtle
{
  background: url("../images/bg-seamless/bg_azsubtle.png") repeat;
}

.bg-cartographer
{
  background: url("../images/bg-seamless/bg_cartographer.png") repeat;
}

.bg-axiom
{
  background: url("../images/bg-seamless/bg_axiom.png") repeat;
}

.bg-backpattern
{
  background: url("../images/bg-seamless/bg_backpattern.png") repeat;
}

.bg-birds
{
  background: url("../images/bg-seamless/bg_birds.png") repeat;
}

.bg-blackthread
{
  background: url("../images/bg-seamless/bg_blackthread.png") repeat;
}

.bg-bullseyes
{
  background: url("../images/bg-seamless/bg_bullseyes.png") repeat;
}

.bg-circles
{
  background: url("../images/bg-seamless/bg_circles.png") repeat;
}

.bg-crackle
{
  background: url("../images/bg-seamless/bg_crackle.png") repeat;
}

.bg-crisscross
{
  background: url("../images/bg-seamless/bg_crisscross.png") repeat;
}

.bg-decalees
{
  background: url("../images/bg-seamless/bg_decalees.png") repeat;
}

.bg-diagonalwaves
{
  background: url("../images/bg-seamless/bg_diagonalwaves.png") repeat;
}

.bg-escheresque
{
  background: url("../images/bg-seamless/bg_escheresque.png") repeat;
}

.bg-geometric
{
  background: url("../images/bg-seamless/bg_geometric.png") repeat;
}

.bg-hexabump
{
  background: url("../images/bg-seamless/bg_hexabump.png") repeat;
}

.bg-illusion
{
  background: url("../images/bg-seamless/bg_illusion.png") repeat;
}

.bg-leather
{
  background: url("../images/bg-seamless/bg_leather.png") repeat;
}

.bg-lens
{
  background: url("../images/bg-seamless/bg_lens.png") repeat;
}

.bg-linedpaper
{
  background: url("../images/bg-seamless/bg_linedpaper.png") repeat;
}

.bg-nistri
{
  background: url("../images/bg-seamless/bg_nistri.png") repeat;
}

.bg-none
{
  background: url("../images/bg-seamless/bg_none.png") repeat;
}

.bg-norwegian
{
  background: url("../images/bg-seamless/bg_norwegian.png") repeat;
}

.bg-psychedelic
{
  background: url("../images/bg-seamless/bg_psychedelic.png") repeat;
}

.bg-robots
{
  background: url("../images/bg-seamless/bg_robots.png") repeat;
}

.bg-shattered
{
  background: url("../images/bg-seamless/bg_shattered.png") repeat;
}

.bg-straws
{
  background: url("../images/bg-seamless/bg_straws.png") repeat;
}

.bg-swirl
{
  background: url("../images/bg-seamless/bg_swirl.png") repeat;
}

.bg-tactile
{
  background: url("../images/bg-seamless/bg_tactile.png") repeat;
}

.bg-tasky
{
  background: url("../images/bg-seamless/bg_tasky.png") repeat;
}

.bg-tire
{
  background: url("../images/bg-seamless/bg_tire.png") repeat;
}

.bg-type
{
  background: url("../images/bg-seamless/bg_type.png") repeat;
}

.bg-vichy
{
  background: url("../images/bg-seamless/bg_vichy.png") repeat;
}

.bg-wavecut
{
  background: url("../images/bg-seamless/bg_wavecut.png") repeat;
}

.bg-weave
{
  background: url("../images/bg-seamless/bg_weave.png") repeat;
}

.bg-whitediamond
{
  background: url("../images/bg-seamless/bg_whitediamond.png") repeat;
}

.bg-worndots
{
  background: url("../images/bg-seamless/bg_worndots.png") repeat;
}

.bg-woven
{
  background: url("../images/bg-seamless/bg_woven.png") repeat;
}

.bg-xv
{
  background: url("../images/bg-seamless/bg_xv.png") repeat;
}

/* @end Repeatable backgrounds */