@font-face 
{
    font-family: 'Elusive-Icons';
    src:url('../fonts/elusive-icons/Elusive-Icons.eot');
    src:url('../fonts/elusive-icons/Elusive-Icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/elusive-icons/Elusive-Icons.svg#Elusive-Icons') format('svg'),
    url('../fonts/elusive-icons/Elusive-Icons.woff') format('woff'),
    url('../fonts/elusive-icons/Elusive-Icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before 
{
    font-family: 'Elusive-Icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before 
{
    font-family: 'Elusive-Icons';
    font-weight: normal;
    font-style: normal;
    color: inherit;
    speak: none;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

a [class^="icon-"],
a [class*=" icon-"] 
{
    display: inline-block;
    text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before 
{
    vertical-align: middle;
    font-size: 1.33em;
}

.btn [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"] 
{
    /* keeps button heights with and without icons the same */
    line-height: .9em;
}

li [class^="icon-"],
li [class*=" icon-"] 
{
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

li .icon-large:before,
li .icon-large:before 
{
    /* 1.5 increased font size for icon-large * 1.25 width */
    width: 1.5*1.25em;
}

ul.icons 
{
    list-style-type: none;
    margin-left: 2em;
    text-indent: -.8em;
}

ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] 
{
    width: .8em;
}

ul.icons li .icon-large:before,
ul.icons li .icon-large:before 
{
    /* 1.5 increased font size for icon-large * 1.25 width */
    vertical-align: initial;
}

.btn-large [class^="icon-"], 
.btn-large [class*=" icon-"]
{
    margin-top: 0;
}

.icon-zoom-out:before             { content: "\e000"; }
.icon-zoom-in:before              { content: "\e001"; }
.icon-youtube:before              { content: "\e002"; }
.icon-wrench-alt:before           { content: "\e003"; }
.icon-wrench:before               { content: "\e004"; }
.icon-wordpress:before            { content: "\e005"; }
.icon-wheelchair:before           { content: "\e006"; }
.icon-website-alt:before          { content: "\e007"; }
.icon-website:before              { content: "\e008"; }
.icon-warning-sign:before         { content: "\e009"; }
.icon-w3c:before                  { content: "\e00a"; }
.icon-volume-up:before            { content: "\e00b"; }
.icon-volume-off:before           { content: "\e00c"; }
.icon-volume-down:before          { content: "\e00d"; }
.icon-vimeo:before                { content: "\e00e"; }
.icon-view-mode:before            { content: "\e00f"; }
.icon-video-chat:before           { content: "\e010"; }
.icon-video-alt:before            { content: "\e011"; }
.icon-video:before                { content: "\e012"; }
.icon-user:before                 { content: "\e013"; }
.icon-upload:before               { content: "\e014"; }
.icon-unlock-alt:before           { content: "\e015"; }
.icon-unlock:before               { content: "\e016"; }
.icon-universal-access:before     { content: "\e017"; }
.icon-twitter:before              { content: "\e018"; }
.icon-tumblr:before               { content: "\e019"; }
.icon-trash-alt:before            { content: "\e01a"; }
.icon-trash:before                { content: "\e01b"; }
.icon-torso:before                { content: "\e01c"; }
.icon-tint:before                 { content: "\e01d"; }
.icon-time-alt:before             { content: "\e01e"; }
.icon-time:before                 { content: "\e01f"; }
.icon-thumbs-up:before            { content: "\e020"; }
.icon-thumbs-down:before          { content: "\e021"; }
.icon-th-list:before              { content: "\e022"; }
.icon-th-large:before             { content: "\e023"; }
.icon-th:before                   { content: "\e024"; }
.icon-text-width:before           { content: "\e025"; }
.icon-text-height:before          { content: "\e026"; }
.icon-tasks:before                { content: "\e027"; }
.icon-tags:before                 { content: "\e028"; }
.icon-tag:before                  { content: "\e029"; }
.icon-stumbleupon:before          { content: "\e02a"; }
.icon-stop-alt:before             { content: "\e02b"; }
.icon-stop:before                 { content: "\e02c"; }
.icon-step-forward:before         { content: "\e02d"; }
.icon-step-backward:before        { content: "\e02e"; }
.icon-star-empty:before           { content: "\e02f"; }
.icon-star-alt:before             { content: "\e030"; }
.icon-star:before                 { content: "\e031"; }
.icon-speaker:before              { content: "\e032"; }
.icon-smiley-alt:before           { content: "\e033"; }
.icon-smiley:before               { content: "\e034"; }
.icon-slideshare:before           { content: "\e035"; }
.icon-skype:before                { content: "\e036"; }
.icon-signal:before               { content: "\e037"; }
.icon-shopping-cart-sign:before   { content: "\e038"; }
.icon-shopping-cart:before        { content: "\e039"; }
.icon-share-alt:before            { content: "\e03a"; }
.icon-share:before                { content: "\e03b"; }
.icon-search-alt:before           { content: "\e03c"; }
.icon-search:before               { content: "\e03d"; }
.icon-screenshot:before           { content: "\e03e"; }
.icon-screen-alt:before           { content: "\e03f"; }
.icon-screen:before               { content: "\e040"; }
.icon-rss:before                  { content: "\e041"; }
.icon-road:before                 { content: "\e042"; }
.icon-reverse-alt:before          { content: "\e043"; }
.icon-retweet:before              { content: "\e044"; }
.icon-resize-vertical:before      { content: "\e045"; }
.icon-resize-small:before         { content: "\e046"; }
.icon-resize-horizontal:before    { content: "\e047"; }
.icon-resize-full:before          { content: "\e048"; }
.icon-repeat-alt:before           { content: "\e049"; }
.icon-repeat:before               { content: "\e04a"; }
.icon-remove-sign:before          { content: "\e04b"; }
.icon-remove-circle:before        { content: "\e04c"; }
.icon-remove:before               { content: "\e04d"; }
.icon-refresh:before              { content: "\e04e"; }
.icon-reddit:before               { content: "\e04f"; }
.icon-record:before               { content: "\e050"; }
.icon-random:before               { content: "\e051"; }
.icon-quotes-alt:before           { content: "\e052"; }
.icon-quotes:before               { content: "\e053"; }
.icon-question-sign:before        { content: "\e054"; }
.icon-question:before             { content: "\e055"; }
.icon-qrcode:before               { content: "\e056"; }
.icon-print:before                { content: "\e057"; }
.icon-plus-sign:before            { content: "\e058"; }
.icon-plus:before                 { content: "\e059"; }
.icon-play-circle:before          { content: "\e05a"; }
.icon-play-alt:before             { content: "\e05b"; }
.icon-play:before                 { content: "\e05c"; }
.icon-plane:before                { content: "\e05d"; }
.icon-pinterest:before            { content: "\e05e"; }
.icon-picture:before              { content: "\e05f"; }
.icon-picasa:before               { content: "\e060"; }
.icon-photo-alt:before            { content: "\e061"; }
.icon-photo:before                { content: "\e062"; }
.icon-phone-alt:before            { content: "\e063"; }
.icon-phone:before                { content: "\e064"; }
.icon-person:before               { content: "\e065"; }
.icon-pencil-alt:before           { content: "\e066"; }
.icon-pencil:before               { content: "\e067"; }
.icon-pause-alt:before            { content: "\e068"; }
.icon-pause:before                { content: "\e069"; }
.icon-path:before                 { content: "\e06a"; }
.icon-paper-clip-alt:before       { content: "\e06b"; }
.icon-paper-clip:before           { content: "\e06c"; }
.icon-ok-sign:before              { content: "\e06d"; }
.icon-ok-circle:before            { content: "\e06e"; }
.icon-ok:before                   { content: "\e06f"; }
.icon-off:before                  { content: "\e070"; }
.icon-network:before              { content: "\e071"; }
.icon-music:before                { content: "\e072"; }
.icon-move:before                 { content: "\e073"; }
.icon-minus-sign:before           { content: "\e074"; }
.icon-minus:before                { content: "\e075"; }
.icon-mic-alt:before              { content: "\e076"; }
.icon-mic:before                  { content: "\e077"; }
.icon-map-marker-alt:before       { content: "\e078"; }
.icon-map-marker:before           { content: "\e079"; }
.icon-male:before                 { content: "\e07a"; }
.icon-mail-alt:before             { content: "\e07b"; }
.icon-magnet:before               { content: "\e07c"; }
.icon-lock-alt:before             { content: "\e07d"; }
.icon-lock:before                 { content: "\e07e"; }
.icon-list-alt:before             { content: "\e07f"; }
.icon-list:before                 { content: "\e080"; }
.icon-linkedin:before             { content: "\e081"; }
.icon-leaf:before                 { content: "\e082"; }
.icon-laptop-alt:before           { content: "\e083"; }
.icon-laptop:before               { content: "\e084"; }
.icon-key:before                  { content: "\e085"; }
.icon-italic:before               { content: "\e086"; }
.icon-iphone-home:before          { content: "\e087"; }
.icon-instagram:before            { content: "\e088"; }
.icon-info-sign:before            { content: "\e089"; }
.icon-indent-right:before         { content: "\e08a"; }
.icon-indent-left:before          { content: "\e08b"; }
.icon-inbox-box:before            { content: "\e08c"; }
.icon-inbox-alt:before            { content: "\e08d"; }
.icon-inbox:before                { content: "\e08e"; }
.icon-idea-alt:before             { content: "\e08f"; }
.icon-idea:before                 { content: "\e090"; }
.icon-home-alt:before             { content: "\e091"; }
.icon-home:before                 { content: "\e092"; }
.icon-heart-empty:before          { content: "\e093"; }
.icon-heart-alt:before            { content: "\e094"; }
.icon-heart:before                { content: "\e095"; }
.icon-hearing-impaired:before     { content: "\e096"; }
.icon-headphones:before           { content: "\e097"; }
.icon-hdd:before                  { content: "\e098"; }
.icon-hand-up:before              { content: "\e099"; }
.icon-hand-right:before           { content: "\e09a"; }
.icon-hand-left:before            { content: "\e09b"; }
.icon-hand-down:before            { content: "\e09c"; }
.icon-guidedog:before             { content: "\e09d"; }
.icon-group-alt:before            { content: "\e09e"; }
.icon-group:before                { content: "\e09f"; }
.icon-graph-alt:before            { content: "\e0a0"; }
.icon-graph:before                { content: "\e0a1"; }
.icon-googleplus:before           { content: "\e0a2"; }
.icon-globe-alt:before            { content: "\e0a3"; }
.icon-globe:before                { content: "\e0a4"; }
.icon-glasses:before              { content: "\e0a5"; }
.icon-glass:before                { content: "\e0a6"; }
.icon-github-text:before          { content: "\e0a7"; }
.icon-github:before               { content: "\e0a8"; }
.icon-gift:before                 { content: "\e0a9"; }
.icon-fullscreen:before           { content: "\e0aa"; }
.icon-friendfeed-rect:before      { content: "\e0ab"; }
.icon-friendfeed:before           { content: "\e0ac"; }
.icon-foursquare:before           { content: "\e0ad"; }
.icon-forward-alt:before          { content: "\e0ae"; }
.icon-forward:before              { content: "\e0af"; }
.icon-fontsize:before             { content: "\e0b0"; }
.icon-font:before                 { content: "\e0b1"; }
.icon-folder-sign:before          { content: "\e0b2"; }
.icon-folder-open:before          { content: "\e0b3"; }
.icon-folder-close:before         { content: "\e0b4"; }
.icon-folder:before               { content: "\e0b5"; }
.icon-flickr:before               { content: "\e0b6"; }
.icon-flag-alt:before             { content: "\e0b7"; }
.icon-flag:before                 { content: "\e0b8"; }
.icon-fire:before                 { content: "\e0b9"; }
.icon-filter:before               { content: "\e0ba"; }
.icon-film:before                 { content: "\e0bb"; }
.icon-file-new-alt:before         { content: "\e0bc"; }
.icon-file-new:before             { content: "\e0bd"; }
.icon-file-edit-alt:before        { content: "\e0be"; }
.icon-file-edit:before            { content: "\e0bf"; }
.icon-file-alt:before             { content: "\e0c0"; }
.icon-file:before                 { content: "\e0c1"; }
.icon-female:before               { content: "\e0c2"; }
.icon-fast-forward:before         { content: "\e0c3"; }
.icon-fast-backward:before        { content: "\e0c4"; }
.icon-facetime-video:before       { content: "\e0c5"; }
.icon-facebook:before             { content: "\e0c6"; }
.icon-eye-open:before             { content: "\e0c7"; }
.icon-eye-close:before            { content: "\e0c8"; }
.icon-exclamation-sign:before     { content: "\e0c9"; }
.icon-error-alt:before            { content: "\e0ca"; }
.icon-error:before                { content: "\e0cb"; }
.icon-envelope:before             { content: "\e0cc"; }
.icon-eject:before                { content: "\e0cd"; }
.icon-edit:before                 { content: "\e0ce"; }
.icon-dribble:before              { content: "\e0cf"; }
.icon-download-alt:before         { content: "\e0d0"; }
.icon-download:before             { content: "\e0d1"; }
.icon-digg:before                 { content: "\e0d2"; }
.icon-deviantart:before           { content: "\e0d3"; }
.icon-delicious:before            { content: "\e0d4"; }
.icon-dashboard:before            { content: "\e0d5"; }
.icon-css:before                  { content: "\e0d6"; }
.icon-credit-card:before          { content: "\e0d7"; }
.icon-compass-alt:before          { content: "\e0d8"; }
.icon-compass:before              { content: "\e0d9"; }
.icon-comment-alt:before          { content: "\e0da"; }
.icon-comment:before              { content: "\e0db"; }
.icon-cogs:before                 { content: "\e0dc"; }
.icon-cog-alt:before              { content: "\e0dd"; }
.icon-cog:before                  { content: "\e0de"; }
.icon-cloud-alt:before            { content: "\e0df"; }
.icon-cloud:before                { content: "\e0e0"; }
.icon-circle-arrow-up:before      { content: "\e0e1"; }
.icon-circle-arrow-right:before   { content: "\e0e2"; }
.icon-circle-arrow-left:before    { content: "\e0e3"; }
.icon-circle-arrow-down:before    { content: "\e0e4"; }
.icon-child:before                { content: "\e0e5"; }
.icon-chevron-up:before           { content: "\e0e6"; }
.icon-chevron-right:before        { content: "\e0e7"; }
.icon-chevron-left:before         { content: "\e0e8"; }
.icon-chevron-down:before         { content: "\e0e9"; }
.icon-check:before                { content: "\e0ea"; }
.icon-certificate:before          { content: "\e0eb"; }
.icon-cc:before                   { content: "\e0ec"; }
.icon-camera:before               { content: "\e0ed"; }
.icon-calendar-sign:before        { content: "\e0ee"; }
.icon-calendar:before             { content: "\e0ef"; }
.icon-bullhorn:before             { content: "\e0f0"; }
.icon-briefcase:before            { content: "\e0f1"; }
.icon-braille:before              { content: "\e0f2"; }
.icon-bookmark-empty:before       { content: "\e0f3"; }
.icon-bookmark:before             { content: "\e0f4"; }
.icon-book:before                 { content: "\e0f5"; }
.icon-bold:before                 { content: "\e0f6"; }
.icon-blogger:before              { content: "\e0f7"; }
.icon-blind:before                { content: "\e0f8"; }
.icon-bell:before                 { content: "\e0f9"; }
.icon-behance:before              { content: "\e0fa"; }
.icon-barcode:before              { content: "\e0fb"; }
.icon-ban-circle:before           { content: "\e0fc"; }
.icon-backward:before             { content: "\e0fd"; }
.icon-asterisk:before             { content: "\e0fe"; }
.icon-asl:before                  { content: "\e0ff"; }
.icon-arrow-up:before             { content: "\e100"; }
.icon-arrow-right:before          { content: "\e101"; }
.icon-arrow-left:before           { content: "\e102"; }
.icon-arrow-down:before           { content: "\e103"; }
.icon-align-right:before          { content: "\e104"; }
.icon-align-left:before           { content: "\e105"; }
.icon-align-justify:before        { content: "\e106"; }
.icon-align-center:before         { content: "\e107"; }
.icon-adult:before                { content: "\e108"; }
.icon-adjust:before               { content: "\e109"; }
.icon-address-book-alt:before     { content: "\e10a"; }
.icon-address-book:before         { content: "\e10b"; }
.icon-check-empty:before          { content: "\e10d"; }
.icon-stackoverflow:before        { content: "\e10c"; }
