//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

//my custom colors for each headings starts
h1,
.h1 {
  color: inherit;

    small,
    .small {
      color:lighten(@brand-primary, 25%);
    }
}

h2,
.h2 {
  color: @brand-primary;

    small,
    .small {
      color:lighten(@brand-primary, 25%);
    }
}

h3,
.h3 {
  color: @brand-secondary;

    small,
    .small {
      color:lighten(@brand-secondary, 25%);
    }
}

h4,
.h4 {
  color: @brand-tertiary;

    small,
    .small {
      color:lighten(@brand-tertiary, 20%);
    }
}

h5,
.h5 {
  color: @brand-quaternary;

    small,
    .small {
      color:lighten(@brand-quaternary, 15%);
    }
}

h6,
.h6 {
  color: @brand-pentane;

    small,
    .small {
      color:lighten(@brand-pentane, 10%);
    }
}
//my custom colors for each headings ends

// Blockquotes
blockquote {
  color: @brand-primary;

  footer,
  small,
  .small {
    color: @blockquote-small-color;
    //color: lighten(@brand-primary, 30%);
    font-family: @font-family-serif;
    font-style: italic;
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid @blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Quotes
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  margin-bottom: @line-height-computed;
  font-style: normal;
  line-height: @line-height-base;
}